<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true" name="live">
    <!--<Properties>-->
    <!--<Property name="filename">~/test.log</Property>-->
    <!--</Properties>-->
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{DEFAULT}[%-5level]  %msg%n"/>
        </Appender>
        <Appender type="Console" name="FLOW">
            <Layout type="PatternLayout" pattern="%C{1}.%M %m %ex%n"/><!-- class and line number -->
        </Appender>
        <!--<Appender type="File" name="File" fileName="${filename}">-->
        <!--<Layout type="PatternLayout">-->
        <!--<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>-->
        <!--</Layout>-->
        <!--</Appender>-->
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
