<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jms 
       http://www.springframework.org/schema/jms/spring-jms.xsd">

    <jms:annotation-driven/>

    <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="failover:(tcp://localhost:61616)?randomize=false"/>
                <property name="trustAllPackages" value="true"/>
            </bean>
        </property>
        <property name="maxConnections" value="100"/>
    </bean>

    <bean id="logQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="logTopic"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="pooledConnectionFactory"/>
        <property name="messageConverter">
            <bean class="org.springframework.jms.support.converter.SimpleMessageConverter"/>
        </property>
    </bean>

    <bean id="log4jJMSAppenderListener" class="com.muchu.heber.logger.listener.Log4jJMSAppenderListener"/>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="pooledConnectionFactory"/>
        <property name="destination" ref="logQueue"/>
        <property name="messageListener" ref="log4jJMSAppenderListener"/>
        <property name="concurrentConsumers" value="4"/>
    </bean>

</beans>